.app-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #43e895;
	color: #ffffff;
	font-size: 17px;
	font-weight: 600;
	padding: 30px 15px 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
}

.app-header .title {
}

.app-header .back-btn {
	cursor: pointer;
	background: transparent;
	outline: none;
	border: 0;
}

.app-header .back-btn img {
	width: 15px;
}

.app-header .map-btn {
	width: 40px;
	height: 40px;
	background: transparent;
	outline: none;
	border: 0;
}

.app-header .map-btn img {
	width: 40px;
}
